:root {
  --color-text-black: #18191f;
  --color-text-white: #ffffff;
  --color-main: #183181;
  --color-second: #cdcdcd;
  --color-bg-white: #ffffff;

}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  color: var(--color-text-black);
  background-color: var(--color-bg-white);
  min-width: 1200px;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.layout {
  padding: 0 20px;
  margin: 0 auto;
  width: 1150px;
}

.button {
  height: 40px;
  min-width: 100px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--color-main);
  color: var(--color-text-white);
  border: none;
  border-radius: 8px;
}

.button:hover {
  border: 1px solid var(--color-main);
  background-color: var(--color-bg-white);
  color: var(--color-main);
  transition: 0.4s;
}

.button-prod {

}

.title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
}

.title--h1 {
  font-size: 72px;
  line-height: 98px;
}

.title--h2 {
  font-size: 48px;
  line-height: 64px;
}

.title--h3 {
  font-size: 28px;
  line-height: 40px;
}

.link {
  display: inline-block;
  color: var(--color-text-black);
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 32px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-nav__link {
  line-height: 40px;
}

.main-nav__link:hover {
  text-decoration: underline var(--color-main);
  transition: 0.4s;
  color: var(--color-main);
}

.intro {
  background: url("img/introBg.png") no-repeat top right, linear-gradient(194.01deg, #d9e8ef 9.6%, #eaf2f5 89.64%);
  padding-top: 220px;
  padding-bottom: 220px;
}

.intro__title {
  margin-bottom: 16px;
}

/*тут ограничил ширину, так как считаю дизайнерской заумкой*/
.intro__description {
  width: 540px;
  line-height: 32px;
  margin-bottom: 32px;
}

.intro__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-text-black);
  min-width: 230px;
}

.intro__link-text {
  position: relative;
  padding-left: 88px;
}

.intro__link:hover svg circle {
  fill: var(--color-main);
  stroke: var(--color-main);
}

.intro__link:hover svg path {
  stroke: var(--color-text-white);
}

.intro__link-text::before {
  position: absolute;
  content: url("svg/line6.svg");
  margin-right: 8px;
  top: -5px;
  left: 0;
  width: 80px;
}

.features {
  padding-top: 64px;
  padding-bottom: 32px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}

.features__items {
  min-width: 255px;
}

.features__description {
  font-size: 16px;
  line-height: 26px;
}

.construction {
  position: relative;
  padding-top: 64px;
  padding-bottom: 184px;
}

.construction::after {
  position: absolute;
  content: "";
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background-color: var(--color-second);
  right: 16px;
  top: 48px;
  z-index: -1;
}

.construction__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px 30px;
}

.construction__item {
  position: relative;
  display: flex;
  width: 255px;
  height: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  background-color: var(--color-bg-white);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
}

.construction__item:hover {
  transition: 0.2s;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.37);
}

.construction__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.construction__title {
  margin-bottom: 48px;
}

.construction__img-1 {
  position: absolute;
  top: 88px;
  left: 20px;
}

.construction__img-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.construction__img-3 {
  position: absolute;
  bottom: 12px;
  left: 100px;
}

.construction__img-4 {
  position: absolute;
  top: 92px;
  left: 80px;
}

.construction__img-5 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.construction__img-6 {
  position: absolute;
  top: 108px;
  left: 92px;
}

.construction__img-7 {
  position: absolute;
  top: 108px;
  left: 56px;
}

.construction__img-8 {
  position: absolute;
  top: 102px;
  left: 92px;
}

.projects {

}

.title-projects {

}

.prod-card__description {
  font-size: 28px;
  line-height: 40px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}

.prod-card {

}

.prod-card__inner {
  display: flex;
}

.prod-card__box {

}

.prod-card__title {
  padding-right: 8px;
}

.prod-card__description {

}

.prod-card__data {

}
